/* Generel styles */

body {
    margin: 0;
    padding: 0;
    background-color: #EBEBEB;
    font-family: 'Mohave', sans-serif;
    line-height: 2;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-x: hidden; 
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p, li {
    font-size: 1.25rem;
    list-style: none;
}

main {
    padding-left: 4rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: #000;
}

hr {
    margin-right: 1rem;
    margin-left: 1rem;
}

/* Classes */

/* Navigation */

.navigation {
    display: fixed;
    background-color: #30343F;
    width: 100%;
    padding: .5rem;
}

.navigation li {
    display: inline-flex;
}

.navigation a {
    color: #D0D4DC;
    margin-left: 3rem;
    padding: .5rem;
    transition: color ease-out.5s;
}

.navigation a:hover {
    color: #fff;
    transition: color ease 600ms;
}

.navRight {
    float: right;
    margin-right: 3rem;
}


/* Widget */

.widget {
    display: inline-block;
    border-top: 4rem solid #EF6461;
    border-bottom: 20rem solid #fff;
    box-sizing: border-box;
    box-shadow: .30rem .45rem rgba(0, 0, 0, 0.5);
    width: 60%;
    background-color: #fff;
    vertical-align: top;
}

.widget a {
    transition: color ease-out .5s;
}

.widget a:hover {
    color: #b6b4b4;
    transition: color 1s;
}


.feed {
    display: inline-block;
    border-top: 4rem solid #3777FF;
    border-bottom: 18.5rem solid #fff;
    box-sizing: border-box;
    box-shadow: .30rem .45rem rgba(0, 0, 0, 0.5);
    width: 30%;
    margin-left: 6rem;
    background-color: #fff;
}

.feed a {
    transition: color ease-out .5s;
}

.feed a:hover {
    color: #b6b4b4;
    transition: color 1s;
}


.widget h1, .feed h2 {
    padding: 0;
}

.big {
    font-size: 1.75rem;
}

/* ID's */

/* Media Queries */