
/* Elements */

* {
    padding: 0;
    margin: 0;  
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
}

header p:after {
    display: block;
    content: "\2193";
}

main, #banner {
    text-align: center;
}

main {
    hyphens: auto;
}

section {
    height: 100vh;
    width: calc(100vw - (100vw - 100%));
    text-align: center;
    margin: 0 auto;
    padding-top: 20vh;
}



section h1, p {
    max-width: 1000px;
    margin: 0 auto;
    height: 10vh;
    
}

/* Classes */

.navigation {
    padding-left: 20px;
    position: fixed;
    background-color: #93B7BE;
    z-index: 100;
    width: 100%;
}

.navigation li {
    text-decoration: none;
    display: inline-block;
    padding: 1.2rem;
}

.navigation a {
    color: #fff;
    text-decoration: none;
}

.navigation a:hover {
    text-decoration: underline;
}

.white {
    color: #fff;
}

/* ID's */
#main-banner {
    background-color: #93B7BE;
}

#about-me {
    background-color: #E9C46A;
}

#projects {
    background-color: #E76F51;
}

#contact {
    background-color: #2A9D8F
}
